* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    background: #f0f2f5;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Facebook-page {
    min-width: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Facebook-page h1 {
    color: rgb(20, 118, 239);
    font-size: 4rem;
    margin-bottom: 10px;
}

.Facebook-page p {
    font-size: 1.75rem;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
        0 8px 16px rgba(0, 0, 0, 0.1);
}

form input {
    height: 55px;
    width: 100%;
    padding: 0 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    margin-bottom: 10px;
}

form input:focus {
    outline: none;
    border-color: #1877f2;
}

::placeholder {
    color: #777;
    font-size: 1.063rem;

}

.Facebook-page .text {
    margin-bottom: 90px;
}

.login-link {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 15px;
}

.login-link .login-btn {
    padding: 15px 0;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    background: #1877f2;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}

.login-link .login-btn:hover {
    background: #1877f2;
}

form a {
    text-decoration: none;
}

.login-link .forget-pass {
    color: #1877f2;
    font-size: 0.875rem;
}

.login-link .forget-pass:hover {
    text-decoration: underline;
}

hr {
    border: none;
    height: 1px;
    background: #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
}

.create-acc {
    margin-top: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.create-acc a {
    padding: 15px 20px;
    background: #42b72a;
    border-radius: 6px;
    color: #fff;
    font-size: 1.063rem;
    font-weight: 600;
    transition: 0.2s ease;

}

.create-acc a:hover {
    background: #3ba626;
}

@media(max-width:900px) {
    .Facebook-page {
        flex-direction: column;
        text-align: center;
    }

    .Facebook-page .text {
        margin-bottom: 30px;
    }
}

@media(max-width:400px) {
    .Facebook-page h1 {
        font-size: 3.5rem;
    }

    .Facebook-page p {
        font-size: 1.3rem;
    }

    form {
        padding: 15px;
    }
}